<div class=container>
    
    <div >
        <label for="sabor" class="form-label">Sabor</label> 
        <h4>{{containerBorrar.sabor}}</h4>
        
    </div>


    <div >
        <label for="tipo" class="form-label">tipo</label> 
        <h4>{{containerBorrar.tipo}}</h4>
        
    </div>

    <div >
        <label for="precio" class="form-label">Precio</label> 
        <h4>{{containerBorrar.precio}}</h4>
        
    </div>

    <div >
        <label for="peso" class="form-label">Peso</label> 
        <h4>{{containerBorrar.peso}}</h4>
        
    </div>

    <br>
    <button type="button" class="w-100 btn btn-lg btn-outline-primary" (click)="borrarContainer()" >Borrar Container</button>

</div>
