<div class=container>
    
    <div >
        <label for="sabor" class="form-label">Sabor</label>
        <input type="text" class="form-control" id="sabor" placeholder="Ingrese sabor" [(ngModel)]="sabor" >
        
    </div>


    <div >
        <label for="tipo" class="form-label">Tipo</label>
        <input type="text" class="form-control" id="tipo" placeholder="Ingrese tipo" [(ngModel)]="tipo" >
        
    </div>

    <div >
        <label for="precio" class="form-label">Precio</label>
        <input type="number" class="form-control" id="precio" placeholder="Ingrese precio" [(ngModel)]="precio">
        
    </div>

    <div >
        <label for="peso" class="form-label">Peso</label>
        <input type="number" class="form-control" id="peso" placeholder="Ingrese peso" [(ngModel)]="peso">
        
    </div>

    <br>
    <button type="button" class="w-100 btn btn-lg btn-outline-primary" (click)="cargarAltaContainer()" >Crear Helado</button>

</div>
