<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">Iniciar Sesion</h1>
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" formControlName="email" [(ngModel)]=email>
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" formControlName="password" [(ngModel)]=pass>
                    </div>
                    <br>
                    <div class="d-grid gap-2">
                        <button [disabled]="!loginForm.valid" class="btn btn-primary btn-lg">INGRESAR</button>
                    </div>
                    
                </form>
                <br>
                <div  class="d-grid gap-2">
                    <button  class="btn btn-danger btn-lg"  (click)="accesoRapidoUno()">Empleado</button>
                    <button  class="btn btn-danger btn-lg"  (click)="accesoRapidoDos()">Admin</button>
                </div>
            </div>
        </div>
    </div>
</div>
